@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}