.ui-left-chat {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    padding: 1rem 0;
    border-bottom: 1px solid transparent;
    transition: all .3s;

    &:last-of-type {
        border-bottom: 0;
    }

    &:hover {
        border-bottom-color: #ddd;
    }

    &_img {
        img {
            height: 40px;
            width: 40px;
            object-fit: contain;
            border-radius: 50%;
            border: 1px solid #ddd;
        }
    }

    &_status {
        height: 8px;
        width: 8px;
        position: absolute;
        bottom: 18px;
        left: 6px;
        border-radius: 50%;

        &.online {
            background-color: rgb(26, 238, 26);
        }

        &.offline {
            background-color: rgb(238, 40, 26);
        }
    }
}